<div id='photos_container'>
  <ul class='photos clearfix'>
    <% @photos.each do |photo| %>
      <li>
        <%= image_tag photo.file.url(:thumb) %>
        <br/>
        Title: <%= photo.title.gsub(/^(.{20,}?).*$/m,'\1...') %>
        <br/>
        Date: <%= photo.created_at.strftime("%Y/%m/%d") %>
      </li>
    <% end %>
  </ul>

  <%= paginate @photos %>
</div>